@using WebClientBot.Models
@model List<Question>
@{
    ViewBag.Title = "Index";
}
@if(ViewBag.Error!=null)
{
    <p>error</p>
}
<script>
    function url() {
        return document.URL;
    }
</script>
@{ 
    string url = Request.Url.ToString();
}
<h2>Index</h2>
@foreach (Question q in Model)
{
    <p class="alert-info">@q.Body</p>
    foreach(Answer a in q.Answers)
    {
        <a class="btn btn-default" href=@url>@a.Body</a>
    }
}

